#nav-container {
  background-color: #E5D4FD;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

#stage-container {
  background-color: #FEDAD2;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

#ot-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}